#dot {
    display: none;
  }
  P {
    font-family: arial, Times New Roman;
  }
  code {
    color: rgb(255, 99, 71);
  }
  .nav-link {
    text-decoration: none;
  }
  #navp {
    background-color: #000000;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
  }
  a::before , a::after, a {
    color: #000000 ;
  }
  a:hover {
    color: rgb(4, 170, 109);
  }
  body {
    display: flex;
  }
  nav {
    height: 100%;
    padding: 10px;
    border: 5px;
    border-color: #000000;
    position: fixed;
    background-color: rgb(247,247,247);
  }
  #main-doc {
    margin-left: 170px;
    padding-left: 15px;
    background-color: rgb(246, 246, 246);
    width: 1020px;
  }
  #navHead {
    width: 100%;
    background-color: rgb(4, 170, 109);
    text-align: center;
    border-radius: 10px;
  }
  body {
    background-color: rgb(242, 242, 242);
  }
  #head {
    text-align: center;
  }
  @media only screen and (max-width: 350px) {
    * {
      display: none;
    }
  }